fanpai_classifier/models/*
fanpai_classifier/__pycache__
fanpai_classifier/.ipynb_checkpoints/*
fanpai_classifier/downfile.py
fanpai_classification/__pycache__
fanpai_classification/data/*
fanpai_classification/*.pt
fanpai_classification/tools/__pycache__
fanpai_classification/models/*