## server
toml==0.10.0
voluptuous==0.11.5
aiohttp==3.6.1
tornado==6.0.3
requests==2.22.0
aioredis==1.3.1
oss2==2.9.0
## algorithm
numpy==1.16.4
nltk==3.4
tqdm==4.19.9
mxnet==1.5.1.post0
matplotlib==2.1.1
easydict==1.9
scipy==0.19.1
torch==1.3.1
six==1.12.0
torchvision==0.4.2
opencv_python==4.2.0.34
Cython==0.29.14
yacs==0.1.6
pandas==0.22.0
hdf5storage==0.1.15
paddlepaddle==1.6.1
Pillow==6.2.1
dlib==19.18.0
## card, TODO remove
pyclipper==1.1.0.post3
imgaug==0.4.0
anyconfig==0.9.11
munch==2.5.0
Shapely==1.6.4
scikit_image==0.14.2
PyYAML==5.3.1
## TODO remove
